/**
 * CSS for the widget view Pinboard_Linkroll.
 *
 * This file is used to style the public-facing aspects of the widget.
 *
 * @link       http://example.com
 * @since      1.0.0
 *
 * @package    Pinboard_Linkroll
 * @subpackage Pinboard_Linkroll/widget/css
 */
 
.pinboard--date-saved {
  display: block;
}

ul.pinboard--tags,
ul.pinboard--tags li {
  padding: 0;
  list-style: none;
  line-height: 1;
}

aside.pinboard--tags-container {

}
h5.pinboard--tags-heading {
  float: left;
  margin: 0 .4em 0 0;
  padding: 0;
  line-height: 1;
}

ul.pinboard--tags:after {
  content: "";
  display: table;
  clear: both;
}

ul.pinboard--tags li {
  float: left;
  margin-right: .4em;
}